<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr class="<%= cycle('odd_row', 'even_row') %>">
        <% if ripple.url.blank?  %>
          <td><%= ripple.name %></td>
        <% else %>
          <td><a href=<%= ripple.url %>><%= ripple.name %></a></td>
        <% end %>
        <td><%= ripple.message %></td>
        <td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Newest', '/ripples/newest' %>
<%= link_to 'Previous 10 Ripples', '/ripples/previous10' %>
<%= link_to 'Next 10 Ripples', :controller => :ripples, :action => :next10 %>
<%= link_to 'Oldest', '/ripples/oldest' %>
<%= link_to 'New Ripple', new_ripple_path %>
