<p id="notice"><%= notice %></p>

<p>
  <% if @ripple.url.empty? %>
    <strong>Name:</strong>
    <%= @ripple.name %>
  <% else %>
    <strong>Name:</strong>
    <a href="<%= @ripple.url %>"><%= @ripple.name %></a>
  <% end %>
</p>


<p>
  <strong>Message:</strong><br><br>
  <span id="displayedmessage"><%= @ripple.message %></span>
</p>

<%= link_to 'Back', ripples_path %>
